In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('botak.csv')
df

,umur,jenis_kelamin,pekerjaan,provinsi,gaji,is_menikah,is_keturunan,berat,tinggi,sampo,is_merokok,pendidikan,botak_prob
0,42.0,Laki-laki,PNS,Padang,7.864005e+06,0,0.0,61.928685,152.174164,Deadbuoy,1,S1,0.487655
1,33.0,Laki-laki,Pegawai swasta,Palangkaraya,6.492662e+06,0,0.0,49.374507,152.822969,Moonsilk,1,SMA,0.297270
2,59.0,Laki-laki,Freelance,Serang,8.086303e+06,1,0.0,59.072807,159.911047,Merpati,1,S1,0.467848
3,38.0,Laki-laki,Pegawai swasta,Gorontalo,1.147321e+07,0,1.0,68.338014,162.558997,Moonsilk,0,S1,0.616418
4,33.0,Perempuan,Freelance,Tanjungselor,1.475942e+07,0,0.0,53.769996,154.579510,Pantone,1,S2,0.115439
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7986,31.0,Laki-laki,Pegawai swasta,Padang,2.911963e+07,0,0.0,83.272785,176.020857,Merpati,0,SMA,0.241525
7987,40.0,Perempuan,Pegawai swasta,Banjarmasin,8.955173e+06,0,0.0,61.634474,161.780773,Deadbuoy,0,S1,0.140971
7988,43.0,Perempuan,PNS,Mataram,4.022652e+06,0,0.0,50.525031,152.461656,Shoulder & Head,1,S1,0.364456
7989,29.0,Laki-laki,Pegawai swasta,Serang,5.801753e+06,0,0.0,47.175270,152.749709,NaN,1,SMA,0.248910
7990,55.0,Laki-laki,Pegawai swasta,Padang,8.518947e+06,0,1.0,61.938728,163.998842,Merpati,1,SMA,0.838493

In [3]:
df.head(5)

,umur,jenis_kelamin,pekerjaan,provinsi,gaji,is_menikah,is_keturunan,berat,tinggi,sampo,is_merokok,pendidikan,botak_prob
0,42.0,Laki-laki,PNS,Padang,7.864005e+06,0,0.0,61.928685,152.174164,Deadbuoy,1,S1,0.487655
1,33.0,Laki-laki,Pegawai swasta,Palangkaraya,6.492662e+06,0,0.0,49.374507,152.822969,Moonsilk,1,SMA,0.297270
2,59.0,Laki-laki,Freelance,Serang,8.086303e+06,1,0.0,59.072807,159.911047,Merpati,1,S1,0.467848
3,38.0,Laki-laki,Pegawai swasta,Gorontalo,1.147321e+07,0,1.0,68.338014,162.558997,Moonsilk,0,S1,0.616418
4,33.0,Perempuan,Freelance,Tanjungselor,1.475942e+07,0,0.0,53.769996,154.579510,Pantone,1,S2,0.115439

In [4]:
df.tail(5)

,umur,jenis_kelamin,pekerjaan,provinsi,gaji,is_menikah,is_keturunan,berat,tinggi,sampo,is_merokok,pendidikan,botak_prob
7986,31.0,Laki-laki,Pegawai swasta,Padang,2.911963e+07,0,0.0,83.272785,176.020857,Merpati,0,SMA,0.241525
7987,40.0,Perempuan,Pegawai swasta,Banjarmasin,8.955173e+06,0,0.0,61.634474,161.780773,Deadbuoy,0,S1,0.140971
7988,43.0,Perempuan,PNS,Mataram,4.022652e+06,0,0.0,50.525031,152.461656,Shoulder & Head,1,S1,0.364456
7989,29.0,Laki-laki,Pegawai swasta,Serang,5.801753e+06,0,0.0,47.175270,152.749709,NaN,1,SMA,0.248910
7990,55.0,Laki-laki,Pegawai swasta,Padang,8.518947e+06,0,1.0,61.938728,163.998842,Merpati,1,SMA,0.838493

In [8]:
df.head(15)

,umur,jenis_kelamin,pekerjaan,provinsi,gaji,is_menikah,is_keturunan,berat,tinggi,sampo,is_merokok,pendidikan,botak_prob
0,42.0,Laki-laki,PNS,Padang,7.864005e+06,0,0.0,61.928685,152.174164,Deadbuoy,1,S1,0.487655
1,33.0,Laki-laki,Pegawai swasta,Palangkaraya,6.492662e+06,0,0.0,49.374507,152.822969,Moonsilk,1,SMA,0.297270
2,59.0,Laki-laki,Freelance,Serang,8.086303e+06,1,0.0,59.072807,159.911047,Merpati,1,S1,0.467848
3,38.0,Laki-laki,Pegawai swasta,Gorontalo,1.147321e+07,0,1.0,68.338014,162.558997,Moonsilk,0,S1,0.616418
4,33.0,Perempuan,Freelance,Tanjungselor,1.475942e+07,0,0.0,53.769996,154.579510,Pantone,1,S2,0.115439
5,39.0,Laki-laki,Pegawai swasta,Manado,1.093470e+07,0,0.0,64.689668,154.168274,Moonsilk,0,SMA,0.303799
6,29.0,Laki-laki,PNS,Tanjungselor,7.669839e+06,0,0.0,88.738788,164.013914,Shoulder & Head,0,S1,0.257185
7,36.0,Laki-laki,PNS,Jakarta,5.268930e+06,0,0.0,55.452607,159.357093,Deadbuoy,1,S1,0.367382
8,42.0,Laki-laki,PNS,Mataram,6.950608e+06,0,0.0,69.418222,161.681340,Deadbuoy,1,SMA,0.491033
9,49.0,Perempuan,PNS,Samarinda,3.981736e+06,0,0.0,59.588357,165.192711,Merpati,0,S1,0.234170
10,36.0,Perempuan,PNS,Manado,4.608563e+06,0,1.0,67.488852,158.624358,Merpati,0,SMP,0.439883
11,58.0,Laki-laki,Freelance,Palembang,9.222056e+06,0,1.0,70.937061,170.118244,Deadbuoy,1,SMP,0.709446
12,51.0,Laki-laki,Pegawai swasta,Semarang,5.188499e+06,0,0.0,65.299365,159.028543,Shoulder & Head,0,S1,0.372707
13,53.0,Laki-laki,Pegawai swasta,Yogyakarta,9.335940e+06,0,0.0,64.945824,158.600113,Merpati,0,S1,0.440527
14,38.0,Perempuan,Pegawai swasta,Medan,1.391641e+07,0,0.0,54.272180,159.121495,Pantone,0,S1,0.134164

In [9]:
df.tail(15)

,umur,jenis_kelamin,pekerjaan,provinsi,gaji,is_menikah,is_keturunan,berat,tinggi,sampo,is_merokok,pendidikan,botak_prob
7976,61.0,Laki-laki,Pegawai swasta,Samarinda,1.275271e+07,1,0.0,56.499326,157.947181,Merpati,0,SMA,0.447675
7977,51.0,Perempuan,Freelance,Samarinda,8.687354e+06,0,1.0,50.044952,161.101004,Deadbuoy,1,SMA,0.602008
7978,49.0,Laki-laki,Pegawai swasta,Tanjungselor,8.484698e+06,0,0.0,54.307486,147.783642,Merpati,1,SMA,0.522526
7979,31.0,Laki-laki,Pegawai swasta,Manokwari,1.115858e+07,0,0.0,56.263827,158.048306,Merpati,0,SMP,0.228721
7980,48.0,Perempuan,Pegawai swasta,Semarang,7.385674e+06,0,0.0,51.088940,144.945172,Deadbuoy,1,S1,0.284640
7981,51.0,Laki-laki,PNS,Sofifi,1.425805e+07,0,0.0,61.333467,154.227612,Moonsilk,1,SD,0.674301
7982,56.0,Laki-laki,NaN,Serang,1.434315e+07,0,0.0,48.749798,160.069504,Moonsilk,0,S1,0.486237
7983,29.0,Laki-laki,Pengangguran,Denpasar,5.552001e+06,0,0.0,63.963810,155.543854,Merpati,0,S1,0.571142
7984,36.0,Laki-laki,Freelance,Medan,3.013212e+07,0,0.0,65.306598,166.150688,Pantone,0,S3,0.175082
7985,29.0,Perempuan,Pegawai swasta,Samarinda,4.422702e+06,0,1.0,54.847905,149.959110,Shoulder & Head,1,S1,0.539701
7986,31.0,Laki-laki,Pegawai swasta,Padang,2.911963e+07,0,0.0,83.272785,176.020857,Merpati,0,SMA,0.241525
7987,40.0,Perempuan,Pegawai swasta,Banjarmasin,8.955173e+06,0,0.0,61.634474,161.780773,Deadbuoy,0,S1,0.140971
7988,43.0,Perempuan,PNS,Mataram,4.022652e+06,0,0.0,50.525031,152.461656,Shoulder & Head,1,S1,0.364456
7989,29.0,Laki-laki,Pegawai swasta,Serang,5.801753e+06,0,0.0,47.175270,152.749709,NaN,1,SMA,0.248910
7990,55.0,Laki-laki,Pegawai swasta,Padang,8.518947e+06,0,1.0,61.938728,163.998842,Merpati,1,SMA,0.838493

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7991 entries, 0 to 7990
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   umur           7991 non-null   float64
 1   jenis_kelamin  7982 non-null   object
 2   pekerjaan      7924 non-null   object
 3   provinsi       7991 non-null   object
 4   gaji           7968 non-null   float64
 5   is_menikah     7991 non-null   int64
 6   is_keturunan   7976 non-null   float64
 7   berat          7952 non-null   float64
 8   tinggi         7991 non-null   float64
 9   sampo          7934 non-null   object
 10  is_merokok     7991 non-null   int64
 11  pendidikan     7991 non-null   object
 12  botak_prob     7991 non-null   float64
dtypes: float64(6), int64(2), object(5)
memory usage: 811.7+ KB